.cart-popup {
  width: 325px;
  max-height: 675px;
  position: absolute;
  right: -30px;
  top: 101%;

  display: none;
  flex-direction: column;
  padding: 32px 16px;
  gap: 32px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.1);
  z-index: 10;

  &.active {
    display: flex;
  }

  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}

.cart-popup-box {
  max-height: 425px;
  overflow: scroll;
}

.cart-title {
  display: flex;
  font-size: 16px;
  font-family: $font-raleway;
  align-items: center;

  h3 {
    font-weight: 700;
    text-transform: capitalize;
  }
  span {
    padding-top: 3px;
    padding-left: 4px;
    font-weight: 500;
  }
}

.cart-prop-item {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  padding: 5px 8px;
  border: 1px solid rgba(128, 128, 128, 0.05);
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);

  .prop-remove {
    display: none;
  }

  &:hover .prop-remove {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 18px;
    weight: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: block;
    z-index: 100;
    border: none;
    background-color: transparent;

    &:hover {
      color: $color-red;
    }
  }
}

.cart-popup-text {
  display: flex;
  align-items: center;
}

.cart-prop-details {
  width: 125px;
  margin-right: 5px;
  font-family: $font-raleway;
  font-size: 16px;

  h3 {
    font-weight: 400;
    padding: 0;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 5px;
  }

  p {
    font-weight: 400;
    padding-bottom: 12px;
    font-family: $font-raleway;
    margin-left: 4px;
  }

  span {
    font-weight: 600;
    padding-bottom: 8px;
    margin-left: 4px;
  }
}

.prop-cart-empty {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.prop-details-title {
  font-size: 14px;
}

.prop-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  margin-bottom: 12px;
  margin-left: 5px;

  button {
    background-color: white;
    border: 1px solid #1d1f22;
    height: 24px;
    width: 24px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  .prop-quantity-number {
    font-family: $font-raleway;
    font-size: 16px;
    font-weight: 500;
  }
  .prop-plus {
    padding-top: 1px;
  }
  .prop-minus {
    padding-bottom: 1px;
  }
}

.prop-img {
  width: 120px;
  height: 190px;
  margin-left: 12px;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.05);
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.cart-popup-total {
  display: flex;
  justify-content: space-between;
  h3 {
    font-family: $font-roboto;
    text-transform: capitalize;
    font-size: 16px;
  }
  span {
    font-family: $font-raleway;
    font-weight: 700;
  }
}

.capacity-box {
  width: 40px;
}

.cart-popup-buttons {
  display: flex;
  button {
    height: 45px;
    flex: 1;
    font-family: $font-raleway;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;

    &:first-child {
      margin-right: 6px;
      background: #ffffff;
      border: 1px solid #1d1f22;
    }
    &:last-child {
      margin-left: 6px;
      background: #5ece7b;
      color: white;
      border: none;
    }
  }
}
