.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.line {
  transform: scale(0);
}

.side_part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-color {
  color: $color-green;
}

.nav-active {
  color: $color-green;
  position: relative;
  transform: scale(1);
  transition: all 0.3s ease;

  &:before {
    content: '';
    background: $color-green;
    height: 2px;
    bottom: -30px;
    left: -16px;
    right: -16px;
    position: absolute;
  }
}

.nav-links {
  display: flex;
  cursor: pointer;

  li {
    padding: 10px;
    list-style: none;
    margin-right: 32px;
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
  }
}

.nav-currency-bar {
  z-index: 20;
  li {
    list-style: none;
    font-weight: 500;
  }
}

.brand-box {
  margin-top: 5px;
}

.wishlist-box {
  margin-top: 3px;
  width: 20px;
  position: relative;
  cursor: pointer;
}

.cart-box {
  margin-left: 45px;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.tick {
  margin-left: 20px;
}

.icon-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  font-weight: 700;
  font-family: $font-roboto;
  background-color: $color-red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  font-size: 13px;
  padding-left: 1px;
  padding-top: 1px;
}
.icon-circle-2 {
  top: -10px;
  right: 18px;
}
