.products-page {
  padding-bottom: 275px;
}

.page-title {
  font-family: $font-raleway;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px 40px;
}

.hr-products {
  margin-bottom: 35px;
  border-bottom: 1px solid $color-dark;
}

.products-topbar {
  display: flex;
  height: 25px;
  margin-bottom: 100px;

  &-search {
    width: 100%;
    font-family: $font-raleway;
    font-weight: 500;
    margin-right: 25px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid $color-dark;
    font-size: 16px;
    &:focus {
      outline: none;
    }
    &:hover {
      outline: none;
    }
  }
}

.products-select {
  width: 250px;
  border: 1px solid $color-dark;
  position: relative;
  font-family: $font-raleway;
  cursor: pointer;
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-icon {
    position: absolute;
    top: 17px;
    right: 17px;
  }

  &-bar {
    position: absolute;
    border: 1px solid $color-dark;
    background-color: white;
    top: 100%;
    width: 101%;
    left: -0.5%;
    z-index: 10;
    div {
      padding: 12px;
      z-index: 10;
      display: flex;
      justify-content: center;
      &:hover {
        cursor: pointer;
        background-color: rgba(136, 136, 136, 0.2);
      }
    }
  }
}

.card {
  padding: 16px;
  border: 1px solid $color-dark;
  font-family: $font-raleway;
  color: #1d1f22;
  font-size: 18px;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    transition: all 0.3s ease;
  }

  &:hover .card-cart {
    transform: scale(1);
    transition: all 0.3s ease;
  }
  &:hover .card-wishlist {
    transform: scale(1);
    transition: all 0.3s ease;
  }
}

.card-image-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  text-align: center;
}

.card-image {
  object-fit: contain;
  width: 100%;
  height: 250px;
}

.card-cart {
  background-color: $color-green;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform: scale(0);
  cursor: pointer;
}

.card-wishlist {
  background-color: $color-red;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 65px;
  bottom: 15px;
  transform: scale(0);
  cursor: pointer;
  svg {
    height: 20px;
    width: 20px;
    fill: white;
  }
}

.card-name {
  font-weight: 300;
  margin-bottom: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.card-price {
  font-weight: 500;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}
